@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Oleo+Script:wght@400;700&display=swap');

body{
  background-color:#FEF1E6;
  font-family: 'Dosis', sans-serif;
  color: #FF8585;

}

.description {
  position: relative;
  display: inline-block;
  left: 50px;
}

.imgcontainer {
  position: relative;
  display: inline-block;
}

.imgcontainer img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
}

.firstimg {
  position: relative;
  display: inline-block;
  width: 40%;
  text-align: center;
}

.firstimg img {
  width: 300px;
  height: auto;
}

.secondimg {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-left: 100px;
  text-align: center;
}

.secondimg img {
  width: 300px;
  height: auto;
}

.tables {
  display: inline-block;   
}

form input, form label, form textarea{
margin-top: 5px;
}

hr{
  border-style: none;
  border-top: 7px dotted #729fd8;
  width: 10%;
}

h1{
  font-family: 'Oleo Script', cursive;
  color: #FF4646;
  height: 3em;
}

h3{
  font-family: 'Oleo Script', cursive;
  color: #FF4646;
  height: 2.3em;
}

